@import 'base';

$top-menu-height: 48px;

.top-menu {
    height: $top-menu-height;
    border-bottom: 1px solid #FAFAfb;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}
.top-menu .dd:first-child {
    margin-right: 20px;
}
.hamburger {
    display: none;
    outline: none;
}
.profile-link,
.cart-link {
    font-size: 14px;
    text-decoration: none;
    color: #26262a;
    margin-right: 41px;
}
.profile-link > img, 
.cart-link > img {
    margin-right: 10px;
}
.cart-controls {
    margin-right: 58px;
}
.cart-link {
    margin-right: 0px;
    display: inline-flex;
}
.cart-total {
    opacity: .5;
    margin-left: 10px;
    font-size: 14px;
}
.logo-and-nav-container {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 36px;
}
nav {
    width: 660px;
    justify-content: space-between;
}
.nav-link {
    @extend .font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary-color;
    
    &.active,
    &:hover {
        color: $active-color;
    }
}
.carousel-section {
    height: 650px;
    background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
    
    .container {
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 35px;
    }

    .slide-description {
        padding-top: 161px;
        color: white;
    }

    .slide-title {
        @extend .font-bold;
        font-size: 36px;
    }
    .slide-text {
        margin: 40px 0;
        line-height: 22px;
        font-size: 14px;
    }

    .slide-link {
        @extend .font-bold;
        text-decoration: none;
        line-height: 22px;
        font-size: 14px;
        color: white;
        border-bottom: 3px solid white;
    }
    @media (max-width: 900px) {
        overflow: hidden;
    }
}
.top-gadgets-section {
    margin-top: -55px;

    .container{
        justify-content: center;
    }
}
.gadget-card {
    width: 390px;
    height: 280px;
    background-color: #F6F7F8;
    color: $primary-color;
    text-decoration: none;
    padding-top: 36px;
    padding-left: 30px;
    position: relative;

    &:first-child {
        background-color: #FF6875;
        color: white;

        .card-text {
            width: 220px;
        }

        .card-image {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .prise {
            opacity: .75;
        }
    }
    
    &:last-child {
        background-color: #C1C8CE;

        .card-text {
            width: 160px;
        }

        .prise {
            opacity: .75;
        }
    }
    .card-title {
        @extend .font-bold;
        font-size: 24px;
    }
    .card-text {
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }
    .prise {
        font-size: 24px;
    }
}
.card-image {
    position: absolute;
    right: 0;
    bottom: 0;
}
.nav-link-best-seller {
    @extend .font-semibold;
    text-decoration: none;
    font-size: 14px;
    color: $primary-color;
    
    &.active,
    &:hover {
        color: $active-color;
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }
}
.product-best-seller {
    height: 1600px;
    max-width: 1170px;
    margin: 0 auto;
}
.best-seller-title {
    @extend .font-bold;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 30px;
}
.product-center-container {
    display: flex;
    flex-flow: column wrap;
    border-style: solid;
    border: thin solid;
    border-color: #e6e6e6;
    height: 330px;
    width: 262px;

    .product-image-container {
        

        img {
            padding-top: 20px;
            display: block;
            margin: 0 auto;
        }
    
        :hover{
            opacity: .60;
            transition: all 0.3s ease-out; 
        }
    }

    .product-image-container:hover 
    .product-controls {
        opacity: .8;
    }
    .product-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.3s ease-out;
        position: absolute; 
    }

    .container {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .like,
    .add-to-cart {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        border-style: solid;
        border-color: $active-color;
        background-color: white;
        opacity: .50;
    }

    .new-prise {
        color: red;
    }

    .old-prise {
        opacity: .75;
        text-decoration: line-through;
    }
    
    .prise {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
    }
}
 .test {
    margin: auto;
}

.name-product {
    padding-top: 30px;
}
.flex-product-container {
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;

}
.flex-gadget-card {
    display: flex;
    flex: row wrap;
    justify-content: center;
}

@media (max-width: 900px) {
    header {
        height: $top-menu-height;
        position: relative;
    }
    
    .top-menu {
        flex-shrink: 0;
    }

    .left-controls,
    .profile-link,
    #search-btn {
        display: none;
    }
    .logo-and-nav-container {
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 120px;
        }
    }

    .rights-controls {
        justify-content: flex-end;
        width: 100%;
    }

    .cart-controls {
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    .cart-link > img {
        height: 30px;
        position: absolute;
        top: 2px;
        transform: translateX(calc(-100% - 6px));
        left: 0;
    }

    .cart-total {
        margin-left: 0;
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .hamburger {
        padding: 0;
        margin-left: 10px;
        position: absolute;
        top: 50%;
        display: inline-block;
        transform: translateY(calc(-50% + 3px));
    }

    .logo-and-nav-container {
        padding: 0;
    }

    nav {
        flex-direction: column;
        width: auto;
        position: absolute;
        left: 0;
        top: $top-menu-height;
        padding: 6px 10px;
        background-color: #ff48c1f7;
        transform: translateX(-100%);
    }
    
    .nav-link {
        font-size: 20px;
        padding: 6px 0;
    }
}