@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: 'Proxima Nova Rg';
  margin: 0;
  color: #26262a;
}

.font-bold, .carousel-section .slide-title, .carousel-section .slide-link, .gadget-card .card-title, .best-seller-title {
  font-weight: bold;
}

.font-semibold, .nav-link, .nav-link-best-seller {
  font-weight: 600;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu {
  height: 48px;
  border-bottom: 1px solid #FAFAfb;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu .dd:first-child {
  margin-right: 20px;
}

.hamburger {
  display: none;
  outline: none;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #26262a;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link {
  margin-right: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cart-total {
  opacity: .5;
  margin-left: 10px;
  font-size: 14px;
}

.logo-and-nav-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 36px;
}

nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #26262a;
}

.nav-link.active, .nav-link:hover {
  color: #33A0FF;
}

.carousel-section {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.carousel-section .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 35px;
}

.carousel-section .slide-description {
  padding-top: 161px;
  color: white;
}

.carousel-section .slide-title {
  font-size: 36px;
}

.carousel-section .slide-text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.carousel-section .slide-link {
  text-decoration: none;
  line-height: 22px;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid white;
}

@media (max-width: 900px) {
  .carousel-section {
    overflow: hidden;
  }
}

.top-gadgets-section {
  margin-top: -55px;
}

.top-gadgets-section .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gadget-card {
  width: 390px;
  height: 280px;
  background-color: #F6F7F8;
  color: #26262a;
  text-decoration: none;
  padding-top: 36px;
  padding-left: 30px;
  position: relative;
}

.gadget-card:first-child {
  background-color: #FF6875;
  color: white;
}

.gadget-card:first-child .card-text {
  width: 220px;
}

.gadget-card:first-child .card-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.gadget-card:first-child .prise {
  opacity: .75;
}

.gadget-card:last-child {
  background-color: #C1C8CE;
}

.gadget-card:last-child .card-text {
  width: 160px;
}

.gadget-card:last-child .prise {
  opacity: .75;
}

.gadget-card .card-title {
  font-size: 24px;
}

.gadget-card .card-text {
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0;
}

.gadget-card .prise {
  font-size: 24px;
}

.card-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-link-best-seller {
  text-decoration: none;
  font-size: 14px;
  color: #26262a;
}

.nav-link-best-seller.active, .nav-link-best-seller:hover {
  color: #33A0FF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.product-best-seller {
  height: 1600px;
  max-width: 1170px;
  margin: 0 auto;
}

.best-seller-title {
  font-size: 24px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.product-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border-style: solid;
  border: thin solid;
  border-color: #e6e6e6;
  height: 330px;
  width: 262px;
}

.product-center-container .product-image-container img {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}

.product-center-container .product-image-container :hover {
  opacity: .60;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.product-center-container .product-image-container:hover .product-controls {
  opacity: .8;
}

.product-center-container .product-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
}

.product-center-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-center-container .like,
.product-center-container .add-to-cart {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border-style: solid;
  border-color: #33A0FF;
  background-color: white;
  opacity: .50;
}

.product-center-container .new-prise {
  color: red;
}

.product-center-container .old-prise {
  opacity: .75;
  text-decoration: line-through;
}

.product-center-container .prise {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.test {
  margin: auto;
}

.name-product {
  padding-top: 30px;
}

.flex-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.flex-gadget-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row wrap;
          flex: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  header {
    height: 48px;
    position: relative;
  }
  .top-menu {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .left-controls,
  .profile-link,
  #search-btn {
    display: none;
  }
  .logo-and-nav-container img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 120px;
  }
  .rights-controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .cart-controls {
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .cart-link > img {
    height: 30px;
    position: absolute;
    top: 2px;
    -webkit-transform: translateX(calc(-100% - 6px));
            transform: translateX(calc(-100% - 6px));
    left: 0;
  }
  .cart-total {
    margin-left: 0;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hamburger {
    padding: 0;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(calc(-50% + 3px));
            transform: translateY(calc(-50% + 3px));
  }
  .logo-and-nav-container {
    padding: 0;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    position: absolute;
    left: 0;
    top: 48px;
    padding: 6px 10px;
    background-color: #ff48c1f7;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .nav-link {
    font-size: 20px;
    padding: 6px 0;
  }
}
/*# sourceMappingURL=site.css.map */